/Software/

/EK-TM4C1294XL/

/EK-TM4C123GXL/Documentacion/
/EK-TM4C123GXL/Proyectos/blinky/
/EK-TM4C123GXL/Proyectos/.theia 

EK-TM4C123GXL/Proyectos/userButtons/Debug/
EK-TM4C123GXL/Proyectos/userButtons/targetConfigs/
EK-TM4C123GXL/Proyectos/userButtons/macros.ini_initial
EK-TM4C123GXL/Proyectos/userButtons/target_config.ccxml
EK-TM4C123GXL/Proyectos/userButtons/userButtons.cmd
EK-TM4C123GXL/Proyectos/userButtons/.ccsproject
EK-TM4C123GXL/Proyectos/userButtons/.clangd
EK-TM4C123GXL/Proyectos/userButtons/.cproject
EK-TM4C123GXL/Proyectos/userButtons/.project
EK-TM4C123GXL/Proyectos/userButtons/.settings/org.eclipse.cdt.codan.core.prefs
EK-TM4C123GXL/Proyectos/userButtons/.settings/org.eclipse.core.resources.prefs

EK-TM4C123GXL/Proyectos/uart0/Debug/
EK-TM4C123GXL/Proyectos/uart0/targetConfigs
EK-TM4C123GXL/Proyectos/uart0/uart0_ccs.cmd
EK-TM4C123GXL/Proyectos/uart0/target_config.ccxml
EK-TM4C123GXL/Proyectos/uart0/macros.ini_initial
EK-TM4C123GXL/Proyectos/uart0/.settings/org.eclipse.cdt.codan.core.prefs
EK-TM4C123GXL/Proyectos/uart0/.project
EK-TM4C123GXL/Proyectos/uart0/.cproject
EK-TM4C123GXL/Proyectos/uart0/.clangd
EK-TM4C123GXL/Proyectos/uart0/.ccsproject
EK-TM4C123GXL/Proyectos/uart0/.settings/org.eclipse.core.resources.prefs

EK-TM4C123GXL/Proyectos/pwm/Debug/
EK-TM4C123GXL/Proyectos/pwm/targetConfigs/
EK-TM4C123GXL/Proyectos/pwm/.ccsproject
EK-TM4C123GXL/Proyectos/pwm/.clangd
EK-TM4C123GXL/Proyectos/pwm/.cproject
EK-TM4C123GXL/Proyectos/pwm/.project
EK-TM4C123GXL/Proyectos/pwm/.settings/org.eclipse.cdt.codan.core.prefs
EK-TM4C123GXL/Proyectos/pwm/.settings/org.eclipse.core.resources.prefs
EK-TM4C123GXL/Proyectos/pwm/macros.ini_initial
EK-TM4C123GXL/Proyectos/pwm/pwm_ccs.cmd
EK-TM4C123GXL/Proyectos/pwm/target_config.ccxml

EK-TM4C123GXL/Proyectos/timer/Debug/
EK-TM4C123GXL/Proyectos/timer/targetConfigs/
EK-TM4C123GXL/Proyectos/timer/.ccsproject
EK-TM4C123GXL/Proyectos/timer/.clangd
EK-TM4C123GXL/Proyectos/timer/.cproject
EK-TM4C123GXL/Proyectos/timer/.project
EK-TM4C123GXL/Proyectos/timer/.settings/org.eclipse.cdt.codan.core.prefs
EK-TM4C123GXL/Proyectos/timer/macros.ini_initial
EK-TM4C123GXL/Proyectos/timer/target_config.ccxml
EK-TM4C123GXL/Proyectos/timer/timer_ccs.cmd
EK-TM4C123GXL/Proyectos/timer/.settings/org.eclipse.core.resources.prefs

/EK-TM4C123GXL/Proyectos/ProjectProof/


/workspace/