/Software/

/EK-TM4C1294XL/

/EK-TM4C123GXL/Documentacion/
/EK-TM4C123GXL/Proyectos/blinky/
/EK-TM4C123GXL/Proyectos/.theia 

EK-TM4C123GXL/Proyectos/userButtons/Debug/
EK-TM4C123GXL/Proyectos/userButtons/targetConfigs/
EK-TM4C123GXL/Proyectos/userButtons/macros.ini_initial
EK-TM4C123GXL/Proyectos/userButtons/target_config.ccxml
EK-TM4C123GXL/Proyectos/userButtons/userButtons.cmd
EK-TM4C123GXL/Proyectos/userButtons/.ccsproject
EK-TM4C123GXL/Proyectos/userButtons/.clangd
EK-TM4C123GXL/Proyectos/userButtons/.cproject
EK-TM4C123GXL/Proyectos/userButtons/.project
EK-TM4C123GXL/Proyectos/userButtons/.settings/org.eclipse.cdt.codan.core.prefs
EK-TM4C123GXL/Proyectos/userButtons/.settings/org.eclipse.core.resources.prefs
